body{
    background-color: rgb(234, 234, 234);
    font-size: 13px;

}

h2{
    font-size: 20px;
    width: auto;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.admi{
    padding-left: 30px;
}

#medio4{
        display: flex;
        flex-direction: column; /* Ordena los elementos hijos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
        gap: 10px; /* Espacio entre los elementos */
        padding-top: 100px; /* Espacio interno del contenedor */
        box-sizing: border-box; /* Incluye el padding y el border en el ancho total del elemento */
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
        height: 500px;
}

.tituloDC{
    margin: 10px;
    font-size: 18px;
    padding: 10px;
}

.contraseña{
    margin: 10px;
    width: 350px;
    height: 30px;
    border-radius: 4px 4px 4px 4px;
    padding-left: 10px;
    font-size: 15px;
    
}

#enviar{    
    background-color: black;
    margin-top: 1rem;
    font-size: 15px;
    color: white;
    width: 200px;
    height: 40px;
    transition: background-color 0.3s ease; 
}
#enviar:hover{
    background-color:rgb(255, 255, 255); 
    color: black;
}


.login{
    margin:10px;
    font-size: 15px;
}






.pie{
    background-color: rgb(188, 188, 188);
    width: auto;
    height: 160px;
    margin: 0;
    display: flex;
}



.footer1{
    padding-left: 35px;
    width: 30%;
    margin: auto;
    padding-bottom: 20px;
    
    
}
.footer2{
    width: 15%;
    margin: auto;
}
.footer3{
    width: 15%;
    margin: auto;
}
.footer4{
    width: 15%;
    margin: auto;
}
.footer5{
    width: 25%;
    margin: auto;   
}
.logos{
    width: 75%;
    margin: auto;   
    padding-left: 12%;
    padding-bottom: 5%;
}

.til{
    padding-left: 30px;
    padding-top: 20px;
    margin: 0;
    padding-bottom: 10px;
}
.we{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 0;
}

.wo{
    margin-top: 0;
    padding-bottom: 15px;
}

.tienda{
    font-size: 25px;
    margin-bottom: 0;
}