/* calendario.css */
/* Estilos personalizados para el calendario */
.react-datepicker {
  font-size: 16px;
}

.react-datepicker__header {
  background-color: #007bff;
  color: white;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #007bff;
  color: white;
}

.react-datepicker__day:hover {
  background-color: #0056b3;
  color: white;
}
div.calendario-container{
  top: 50px;
  height: 10000px;
}
