
.pantalla{
  display: flex  ;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.modificar{
    margin-top:0px ;
    margin-right: 50px;
    width: 100%;
    height: 300px;
    
  }


.modificar > header{
  background-color: gainsboro;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}

.modificar >header >a{
    width: 200px;
    height: 20px;
    margin-top: 16px;
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: white;
}


.modificar >input{
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
    width: 100%;
    padding-right: 15px;
}

.pagination {
  width: 50%;
  margin-left: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Ajusta según sea necesario */
}

.page-numbers {
  display: flex;
}

.page-numbers span {
  margin-right: 10px; /* Espacio entre los números de página */
  padding: 5px 10px;
  border: 1px solid #ccc; /* Bordes para cada número de página */
}
